# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.env

# SQLite database files
*.db
*.sqlite
*.sqlite3

# Log files
/logs/
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Flask specific
instance/
.webassets-cache
flask_session/